

textinfo {
  padding: 20px 53px 0px 23px;
  font-family: sans-serif;
  font-weight: bold;
}

.mainhead {
  font-size:60px;
  margin-left: 10px;
  color:grey;
  text-transform: uppercase;
}

.h1 {
  font-size:30px;
  margin-left: 10px;
  color:#A1BADB;
  text-transform: uppercase;
}

.h2 {
  font-size:30px;
  margin-left: 10px;
  color:#6DC0D5;
  text-transform: uppercase;
}

.h3 {
  font-size:30px;
  margin-left: 10px;
  color:#AD7A99;
  text-transform: uppercase;
}

.para1 {
  font-size:15px;
  margin-left: 10px;
  color:#B2CEDE;
  text-transform: lowercase;
  margin-right: 100px;
}

.para2 {
  font-size:15px;
  margin-left: 10px;
  color:#8ED4E5;
  text-transform: lowercase;
}

.para3 {
  font-size:15px;
  margin-left: 10px;
  color:#D2A9C2;
  text-transform: lowercase;
}

