body {
  margin: 10px;
  text-align: center;
}
body > div {
  width: 33%;
  float: left;
}
body > div > div {
  margin-bottom: 15px;
}

.btn-1 {
  width: 150px;
  background-color: #8CDFD6;
}
.btn-1 .round {
  background-color: #B3F2EB;
}

.btn-2 {
  width: 150px;
  background-color: #6DC0D5;
}
.btn-2 .round {
  background-color: #8ED4E5;
}

.btn-3 {
  width: 150px;
  background-color: #A1BADB;
}
.btn-3 .round {
  background-color: #B2CEDE;
}

.btn-4 {
  width: 150px;
  background-color: #AD7A99;
}

.btn-4 .round{
  background-color: #D2A9C2;
}
 
b {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 0px;
  padding: 20px 53px 0px 23px;
  color:gray;
  font-size:60px;
  margin-right: 700px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

a {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt {
  font-size: 22px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}



.overlay {
  position: absolute;
  top: 500px;
  bottom: 20px;
  left: 75px;
  right: 900px;
  background: #000;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0px auto;
  padding: 0px;
  background: #fff
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #339;
  font-family: sans-serif;
}

.popup h2:target{
  visibility: visible;
  opacity
}

.popup h3 {
  margin-left: 10px;
}
.popup .close {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 100%;
  background: #000;
  transition: all 200ms;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #339;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
